    <tr>
        <td style="padding: 20px;">
           Año
        <ng-multiselect-dropdown
        [placeholder]="'custom placeholder'"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="selectedItems"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>   </td> 
      <td style="padding: 20px;">
        Mes
        <ng-multiselect-dropdown
        [placeholder]="'custom placeholder'"
        [settings]="dropdownSettings"
        [data]="dropdownList"
        [(ngModel)]="selectedItems"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)">
      </ng-multiselect-dropdown>   </td>
      <td style="padding: 20px;">
        Caracteristica
        <ng-multiselect-dropdown
        [placeholder]="'custom placeholder'"
        [settings]="dropdownSettings_caracteristica"
        [data]="homologaciones_imp"
        (onSelect)="onItemSelectCaracteristica($event)"
        (onSelectAll)="onSelectAllCaracteristica($event)"
        (onDeSelect)="onItemDeSelectCaracteristica($event)">
      </ng-multiselect-dropdown>   </td>
      <td style="padding: 20px;" >
        Categoria
        <ng-multiselect-dropdown
        [placeholder]="'Seleccionar'"
        [settings]="dropdownSettings_categoria"
        [data]="categorias_imp"
        (onSelect)="onItemSelectCategoria($event)"
        (onSelectAll)="onSelectAllCategoria($event)"
        (onDeSelect)="onItemDeSelectCategoria($event)">
      </ng-multiselect-dropdown>   </td>
      <td style="padding: 20px;">
        Marcas
        <ng-multiselect-dropdown
        [placeholder]="'custom placeholder'"
        [settings]="dropdownSettings_marca"
        [data]="marcas_imp"
        (onSelect)="onItemSelectMarca($event)"
        (onSelectAll)="onSelectAllMarca($event)"
        (onDeSelect)="onItemDeSelectMarca($event)">
      </ng-multiselect-dropdown>   </td>
      <td style="padding: 20px;">
        Empresa
        <ng-multiselect-dropdown
        [placeholder]="'custom placeholder'"
        [settings]="dropdownSettings_empresa"
        [data]="empresas_imp"
        (onSelect)="onItemSelectEmpresa($event)"
        (onSelectAll)="onSelectAllEmpresa($event)"
        (onDeSelect)="onItemDeSelectEmpresa($event)">
      </ng-multiselect-dropdown>   </td>
      <td style="padding: 20px;">
        Modelo Homologado
        <ng-multiselect-dropdown
        [placeholder]="'Todas'"
        [settings]="dropdownSettings_modelo"
        [data]="homologaciones_imp"
        (onSelect)="onItemSelectModelo($event)"
        (onSelectAll)="onSelectAllModelo($event)"
        (onDeSelect)="onItemDeSelectModelo($event)">
      </ng-multiselect-dropdown>   </td>
      <td>
                                   
      </td>
    </tr>
<div *ngIf="consulta_resultado">
    <ul>
        <!-- Utiliza *ngFor para iterar sobre el arreglo y mostrar cada elemento -->
        <li *ngFor="let elemento of consulta_resultado">{{ elemento }}</li>
      </ul>

</div>

<h2>Obtener un solo registro</h2>
<div >
Categorias - IMP
<div>
<ul> 
    <li>{{categoria_imp.nombre_categoria_producto}}
    </li>
</ul>
</div>

Tiendas - IMP
<div>
<ul> 
    <li>{{tienda_imp.tipo}}
    </li>
</ul>
</div>

Empresas - IMP
<div >
<ul> 
    <li>{{empresa_imp.nombre_empresa}}
    </li>
</ul>
</div>

Homologaciones - IMP
<div >
<ul> 
    <li>{{homologacion_imp.descripcion}}
    </li>
</ul>
</div>

Precios - IMP
<div >
<ul> 
    <li>{{precio_imp.fecha}}
    </li>
</ul>
</div>

Productos - IMP
<div>
<ul> 
    <li>{{producto_imp.caracteristica}}
    </li>
</ul>
</div>

Importadores - IMP
<div>
<ul> 
    <li>{{importador_imp.nombre_comercial}}
    </li>
</ul>
</div>

Importaciones - IMP
<div>
<ul> 
    <li>{{importacion_imp.posicion_arancelaria}}
    </li>
</ul>
</div>
</div>

<h2>Obtener varios registros</h2>
Categorias - IMP
<div *ngFor="let categoria of categorias_imp">
<ul> 
    <li>{{categoria.nombre_categoria_producto}}
    </li>
</ul>
</div>

Tiendas - IMP
<div *ngFor="let tienda of tiendas_imp">
<ul> 
    <li>{{tienda.tipo}}
    </li>
</ul>
</div>

Empresas - IMP
<div *ngFor="let empresa of empresas_imp">
<ul> 
    <li>{{empresa.nombre_empresa}}
    </li>
</ul>
</div>

Homologaciones - IMP
<div *ngFor="let homologacion of homologaciones_imp">
<ul> 
    <li>{{homologacion.descripcion}}
    </li>
</ul>
</div>

Precios - IMP
<div *ngFor="let precio of precios_imp">
<ul> 
    <li>{{precio.fecha}}
    </li>
</ul>
</div>

Productos - IMP
<div *ngFor="let producto of productos_imp">
<ul> 
    <li>{{producto.caracteristica}}
    </li>
</ul>
</div>

Importadores - IMP
<div *ngFor="let importador of importadores_imp">
<ul> 
    <li>{{importador.nombre_comercial}}
    </li>
</ul>
</div>

Importaciones - IMP
<div *ngFor="let importacion of importaciones_imp">
<ul> 
    <li>{{importacion.posicion_arancelaria}}
    </li>
</ul>
</div>
