.mat-mdc-table {
    width: 100%;
    max-height: 500px;
    overflow: auto;
  }
  
  .mat-column-name {
    height: 100px;
  }

  .table-container {
    max-height: 400px; /* Establece la altura máxima según tus necesidades */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}

.custom-table {
    width: 100%; /* Asegúrate de que la tabla ocupe el 100% del ancho permitido */
    display: block; /* Asegúrate de que la tabla sea un bloque para que la anchura máxima funcione */
}
.btn-toggle-sidenav {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 24px;
  z-index: 2000; /* Asegúrate de que el z-index sea mayor que el del menú */
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; /* Use full height of the container */
  background-color: white;
  flex-direction: column; /* Align items vertically */
}

.loading-image {
  height: 70%;
  width: 70%;
  margin: 20px 0; /* Add some margin to separate from the canvas */
}

@media (max-width: 768px) {
  .loading-image {
      height: 50%; /* Adjust image size for smaller screens */
      width: 50%;
  }
}





/* Mostrar el botón de menú en dispositivos móviles */
@media (max-width: 1281px) {
  .btn-toggle-sidenav {
      display: block;
  }

  .sidenav {
      transition: transform 0.3s ease;
      transform: translateX(-100%);
  }

  .sidenav-visible .sidenav {
      transform: translateX(0);
  }
}

/* Asegurar que el botón se mueva con el scroll */
.btn-toggle-sidenav {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}


.custom-navbar {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.custom-navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.custom-nav-item {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.custom-nav-link {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.custom-btn {
  background-color: #3D5463;
  color: white;
  max-width: 200px; /* Adjust max width if needed */
  width: 100%;
}

@media (max-width: 992px) {
  #navbar-class{
    display: flex;
    width: 100%;
  }


  .custom-navbar {
    flex-direction: row;
    width: 100%;
  }

  .custom-navbar-nav {
    flex-direction: row;
    width: 100% !important;
  }

  .custom-nav-item {
    flex-direction: row;
  }

  .custom-nav-link {
    flex-direction: row;
  }

  .custom-btn {
    max-width: 200px;
    width: 100%;
    margin: 0 auto;
  }
}
