.mat-mdc-table {
    width: 100%;
    max-height: 500px;
    overflow: auto;
  }
  
  .mat-column-name {
    height: 100px;
  }

  .table-container {
    max-height: 400px; /* Establece la altura máxima según tus necesidades */
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
}

.custom-table {
    width: 100%; /* Asegúrate de que la tabla ocupe el 100% del ancho permitido */
    display: block; /* Asegúrate de que la tabla sea un bloque para que la anchura máxima funcione */
}
.btn-toggle-sidenav {
  display: none;
  position: fixed;
  top: 10px;
  left: 10px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  font-size: 24px;
  z-index: 2000; /* Asegúrate de que el z-index sea mayor que el del menú */
}

/* Mostrar el botón de menú en dispositivos móviles */
@media (max-width: 1281px) {
  .btn-toggle-sidenav {
      display: block;
  }

  .sidenav {
      transition: transform 0.3s ease;
      transform: translateX(-100%);
  }

  .sidenav-visible .sidenav {
      transform: translateX(0);
  }
}

/* Asegurar que el botón se mueva con el scroll */
.btn-toggle-sidenav {
  position: -webkit-sticky;
  position: sticky;
  top: 10px;
}

