.divider-container {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}
.divider {
    flex-grow: 1;
    border-top: 2px solid rgba(0, 0, 0, 0.5); /* Adjust the color and opacity here */
}
.divider-text {
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity here */
}
.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}
.page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Full viewport height */
    background-image: url('/assets/fondo-login.jpg');
    background-size: cover; /* Ensures the image covers the entire div */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Ensures the image doesn't repeat */
}
.social-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
}

.social-button img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.google-button {
    background-color: #4285F4;
}

.facebook-button {
    background-color: #3B5998;
}

#form2{
    display: none;
}
#form3{
    display: none;
}
#btn2{
    display: none;
}
#btn3{
    display: none;
}
#alerta {
    position: relative;
    z-index: 9999;
    /* Otros estilos para la tarjeta */
  }
  .btn-toggle-sidenav {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 24px;
    z-index: 2000; /* Asegúrate de que el z-index sea mayor que el del menú */
  }
  
  /* Mostrar el botón de menú en dispositivos móviles */
  @media (max-width: 1281px) {
    .btn-toggle-sidenav {
        display: block;
    }
  
    .sidenav {
        transition: transform 0.3s ease;
        transform: translateX(-100%);
    }
  
    .sidenav-visible .sidenav {
        transform: translateX(0);
    }
  }
  
  /* Asegurar que el botón se mueva con el scroll */
  .btn-toggle-sidenav {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
  }
  
  .custom-navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .custom-navbar-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .custom-nav-item {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .custom-nav-link {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }
  
  .custom-btn {
    background-color: #3D5463;
    color: white;
    max-width: 200px; /* Adjust max width if needed */
    width: 100%;
  }
  
  @media (max-width: 992px) {
    #navbar-class{
      display: flex;
      width: 100%;
    }


    .custom-navbar {
      flex-direction: row;
      width: 100%;
    }
  
    .custom-navbar-nav {
      flex-direction: row;
      width: 100% !important;
    }
  
    .custom-nav-item {
      flex-direction: row;
    }
  
    .custom-nav-link {
      flex-direction: row;
    }
  
    .custom-btn {
      max-width: 200px;
      width: 100%;
      margin: 0 auto;
    }
  }
  
