.error {
    color: rgba(228, 44, 44, 0.822);
    font-size: small;
  }

  #formPago{
    display: none;
  }

  .precio-tachado {
    text-decoration: line-through;
    color: red; /* Opcional: puedes cambiar el color a 'white' para una raya blanca */
  }
  .custom-btn {
    background-color: #3D5463;
    color: white;
    max-width: 200px; /* Adjust max width if needed */
    width: 100%;
  }
  
  .btn-toggle-sidenav {
    display: none;
    position: fixed;
    top: 10px;
    left: 10px;
    background: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 24px;
    z-index: 2000; /* Asegúrate de que el z-index sea mayor que el del menú */
  }
  
  /* Mostrar el botón de menú en dispositivos móviles */
  @media (max-width: 1281px) {
    .btn-toggle-sidenav {
        display: block;
    }
  
    .sidenav {
        transition: transform 0.3s ease;
        transform: translateX(-100%);
    }
  
    .sidenav-visible .sidenav {
        transform: translateX(0);
    }
  }
  
  /* Asegurar que el botón se mueva con el scroll */
  .btn-toggle-sidenav {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
  }
  