
  
/*
  .popup-container {
    background-color: #79f051;

    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    
  }
  
  .popup-title {
    text-align: center;
    margin: 0;
    padding: 1em 0;
 
  }
  
  .popup-container {
    height: 200px;
  }*/
  .popup-container {
    background-color: #79f051;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px; /* Ajusta la altura según tus necesidades */
  }
  
  .popup-title {
    text-align: center;
    margin: 0;
    padding: 1em 0;
  }
  