
<div class="container my-auto" style="padding-bottom: 60px; padding-top: 60px;">
<div class="row">
    <div class="col-lg-12 col-md-12 col-12 mx-auto">
        <div class="card z-index-0  ">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class=" shadow-primary border-radius-lg py-1 pe-1" style="background-color: #FF764B;">
                    <h2 class="text-white font-weight-bolder text-center mb-0 p-3">¿Olvidaste tu contraseña?</h2>

                </div>
            </div>
            <div class="card-body">
                <form role="form" class="text-start" #formP="ngForm" id="formP">
                    <label>Escribe el correo con el que te registraste en ImportData:</label>
                    <div class="input-group input-group-outline my-3">
                        <input type="email" placeholder="Correo electrónico" class="form-control" name="usuario" [(ngModel)]="usuario">
                    </div>
                    <button type="button" style="background-color: #3D5463; color: white;" class="btn  w-100 my-4 mb-2"
                            (click)="recuperarContrasenia()" [disabled]="!usuario">
                        Enviar contraseña temporal
                    </button>
                                       
                    <div *ngIf="bandera">
                        <div class="alert alert-primary alert-dismissible text-white text-center" role="alert" id="alerta">
                            <span class="text-sm text-center">{{mensajeAlert}}</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>