

.popup-container {
    background-color: rgba(220,53,69, 0.1); /* Fondo verde con opacidad */
    border: 2px solid #dc0209; /* Borde del mismo color verde oscuro */
    border-radius: 2px; /* Bordes redondeados */
    text-align: center; /* Centrar el texto */
    display: flex;
    height: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra ligera para el popup */
    position: relative;
  
  }
  
  .popup-title {
    color: #e50909; /* Color verde oscuro para el título */
    font-size: 1.5em; /* Tamaño de fuente del título */
    font-weight: bold; /* Fuente en negrita */
    margin: 20px;
    padding: 1em 0; /* Espaciado superior e inferior */
  }
  
  .popup-message, .popup-total {
    color: #e50909; /* Color verde oscuro para el mensaje */
    font-size: 1em; /* Tamaño de fuente del mensaje */
    margin: 0;
    text-align: center;
    padding: 0 1em; /* Espaciado lateral */
  }
  